html,
body {
  height: auto;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.swiper {
  width: auto;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.media {
  display: flex;
}

h1 {
  font-weight: 100;
  color: white;
  font-size: 3rem;
}
#headnav{
  background: #eee;
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease;
  -o-transition:padding 0.2s ease;
  transition:padding 0.2s ease;
}

#nav2 {
  background: #eee;
  top: 70px;
  z-index: 9999;
}

div {
  padding: 5px;
  border-radius: 10px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

section {
  margin-top: 20px;
  padding: 10px 0px;
}

.sectionline {
  margin: 80px;
  border-bottom: 1px solid slategray;
}

.column {
  display: flex;  
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero.has-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("logo/lifestyle.jpg");
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-background.is-transparent {
  padding: 0px;
  opacity: .8;
}

.no-padding {
 padding: 0 !important;
}